@import "./global-styles/pallete.scss";
@import "../node_modules/metatonic-themes/src/colors.scss";
.App {
  margin: 0;
  color: black;
}

.App-header {
  background: linear-gradient(120deg, #000334, #4d002e);
  padding: 5px;
  color: white;
  border-left: 10px solid $bright;

  h1 {
    margin: 5px 0;
    font-weight: 300;
    display: inline-block;
  }
  &>a {
    color: $gray0;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
  }
}

.App-title {
  font-size: 1.5em;
}

.field-grid-layout {
  display: flex;
  flex-direction: row;
}

.field-grid-layout>label {
  margin-right: 20px;
}

.m-badge {
  width: 38px;
  height: 38px;
  margin-bottom: -10px;
  margin-right: 5px;
}

