@import "global-styles/pallete.scss";

.App {
  margin: 0;
  color: black;
}

.App-header {
  background-color: black;
  padding: 5px;
  color: white;
  border-left: 10px solid $bright;
}

.App-header h1 {
  margin: 5px 0;
  font-weight: 300;
}

.App-title {
  font-size: 1.5em;
}

.field-grid-layout {
  display: flex;
  flex-direction: row;
}

.field-grid-layout>label {
  margin-right: 20px;
}

button {
  background: linear-gradient($button, $color-secondary-1-0);
  padding: 6px;
  color:white;
  border: 1px solid $button-outline;
  margin: 0 5px;
  border-radius: 3px;
}

button:last-child {
  margin-right: 0;
}
button:first-child {
  margin-left: 0;
}

table {
  border-collapse: collapse;
  border: 1px solid gainsboro;
}

td:last-child>button:last-child, th:last-child>button:last-child {
  margin-right: 0;
}

td:last-child, th:last-child {
  text-align: right;
}

fieldset {
  padding: 10px 0 !important;
  border: none !important;
  border-top: 1px solid gray;
  margin: 10px 10px;
}

fieldset fieldset {
  margin: 10px 0;
}
button {
  font-size: 13px;
}

fieldset>legend{
  width: 100%;
  border-bottom: 1px solid black;
}


th, td {
  padding: 5px;
}
th, tfoot td {
  font-size: 14px;
  background: gainsboro;
  border: gainsboro;
  padding: 5px;
}

label>input {
  display: block;
}

label {
  font-size: 14px;
}

.error {
  color: orangered;
}

table button {
  background:none;
  border: none;
  text-decoration: underline;
  padding: 0;
  color: $button
}