@import "global-styles/pallete.scss";

.App {
  margin: 0;
  color: black;
}

.App-header {
  background-color: black;
  padding: 5px;
  color: white;
  border-left: 10px solid $bright;
}

.App-header h1 {
  margin: 5px 0;
  font-weight: 300;
}

.App-title {
  font-size: 1.5em;
}

.field-grid-layout {
  display: flex;
  flex-direction: row;
}

.field-grid-layout>label {
  margin-right: 20px;
}

