$color-primary-0: #943156;	// Main Primary color */
$color-primary-1: #FD347E;
$color-primary-2: #DC3B76;
$color-primary-3: #4C1E2F;
$color-primary-4: #050203;

$color-secondary-1-0: #cd4540;	// Main Secondary color (1) */
$color-secondary-1-1: #FF3E34;
$color-secondary-1-2: #FC4D44;
$color-secondary-1-3: #582623;
$color-secondary-1-4: #050302;

$color-secondary-2-0: #2C8437;	// Main Secondary color (2) */
$color-secondary-2-1: #33FB4C;
$color-secondary-2-2: #35C446;
$color-secondary-2-3: #1B4420;
$color-secondary-2-4: #020402;

$color-complement-0: #699A33;	// Main Complement color */
$color-complement-1: #9DFD34;
$color-complement-2: #94E43D;
$color-complement-3: #384F20;
$color-complement-4: #040502;

$base: #cc0077;
$black: #26191f;
$gray0: #faf9f9;
$gray1: #efecee;
$gray2: #e4dfe2;
$gray3: #d8d0d5;
$gray4: #cac1c6;
$gray5: #bcafb6;
$gray6: #ab9ba4;
$gray7: #97838e;
$gray8: #7d6573;
$gray9: #4b3a44;
$pink0: #fae9f3;
$pink1: #f5d1e6;
$pink2: #f0b6d8;
$pink3: #e994c6;
$pink4: #e066ad;
$pink5: #cc0077;
$pink6: #b8006b;
$pink7: #a2005e;
$pink8: #86004e;
$pink9: #610038;
$red0: #faeaeb;
$red1: #f6d2d5;
$red2: #f0b7bc;
$red3: #ea969d;
$red4: #e16973;
$red5: #cc0011;
$red6: #b8000f;
$red7: #a2000d;
$red8: #86000b;
$red9: #610008;
$orange0: #f9ede4;
$orange1: #f3d9c6;
$orange2: #ecc2a4;
$orange3: #e4a87c;
$orange4: #da864a;
$orange5: #cc5500;
$orange6: #b84c00;
$orange7: #a04300;
$orange8: #843700;
$orange9: #5e2700;
$yellow0: #f8f6de;
$yellow1: #f1ecba;
$yellow2: #e9e293;
$yellow3: #e0d668;
$yellow4: #d7c938;
$yellow5: #ccbb00;
$yellow6: #b8a900;
$yellow7: #a29400;
$yellow8: #867b00;
$yellow9: #615800;
$lime0: #eef8df;
$lime1: #dcf1bd;
$lime2: #c7ea97;
$lime3: #b1e16c;
$lime4: #96d73b;
$lime5: #77cc00;
$lime6: #6bb800;
$lime7: #5ea200;
$lime8: #4e8600;
$lime9: #386100;
$green0: #e5f9e4;
$green1: #c9f3c6;
$green2: #a9eca3;
$green3: #84e47b;
$green4: #54da48;
$green5: #11cc00;
$green6: #0fb800;
$green7: #0da200;
$green8: #0b8600;
$green9: #086100;
$teal0: #e3f9ec;
$teal1: #c5f3d8;
$teal2: #a2ecc1;
$teal3: #79e4a6;
$teal4: #46da84;
$teal5: #00cc55;
$teal6: #00b84c;
$teal7: #00a243;
$teal8: #008638;
$teal9: #006128;
$cyan0: #e3f9f7;
$cyan1: #c4f3ef;
$cyan2: #a0ece5;
$cyan3: #77e3da;
$cyan4: #44d9cd;
$cyan5: #00ccbb;
$cyan6: #00b8a9;
$cyan7: #00a294;
$cyan8: #00867b;
$cyan9: #006159;
$blue0: #e4f0f9;
$blue1: #c6e1f3;
$blue2: #a5cfed;
$blue3: #7db9e5;
$blue4: #4a9eda;
$blue5: #0077cc;
$blue6: #006bb7;
$blue7: #005da0;
$blue8: #004d84;
$blue9: #00365d;
$indigo0: #eaebfa;
$indigo1: #d2d5f6;
$indigo2: #b7bbf0;
$indigo3: #959ce9;
$indigo4: #6872e0;
$indigo5: #0011cc;
$indigo6: #000fb7;
$indigo7: #000da0;
$indigo8: #000a83;
$indigo9: #00075c;
$violet0: #f0e9fa;
$violet1: #e1d2f6;
$violet2: #ceb6f0;
$violet3: #b894e9;
$violet4: #9966e0;
$violet5: #5500cc;
$violet6: #4c00b8;
$violet7: #4300a1;
$violet8: #370084;
$violet9: #27005e;
$fuschia0: #f9e9fa;
$fuschia1: #f2d1f5;
$fuschia2: #ebb5f0;
$fuschia3: #e293e9;
$fuschia4: #d665e0;
$fuschia5: #bb00cc;
$fuschia6: #a900b8;
$fuschia7: #9400a2;
$fuschia8: #7b0086;
$fuschia9: #580061;


$bright: $pink5;
$button: $teal5;
$button-grad: $teal6;
$button-alt: $color-complement-0;
$button-outline: $teal8;
$button-alt-outline: $color-secondary-2-3;
$easy: $gray1;
$easy-outline: $gray3;

$link-color: $pink5;
$table-header-background: $gray1;
$text-dark-gray: $gray9;
$text-light-gray: $gray3;