@import "colors.scss";
@import "variables.scss";

@mixin text-link($link-color) {
  background:none;
  border: none;
  text-decoration: underline;
  padding: 0;
  color: $link-color;
  cursor: hand;
}