.record-editor-fieldset {
    width: 354px;
    margin-left:10px;
}
.record-builder-field {
    margin-right:10px;
    width: 952px;
}

.app-editor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    space-between: 10px;
}

.app-editor>fieldset {
    flex-grow: 1;
}

.error-list {
    width: 100%;
}

.app-editor table input[type="number"] {
    width: 100px;
}

.app-editor table button {
    white-space: nowrap;
}

/*select {*/
    /*appearance:none;*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance:none;*/
    /*border-radius: 0;*/
    /*!*height: 20px;*!*/
    /*padding:5px;*/
    /*border: 1px solid var(--muted-dark-a);*/
    /*padding-right: 20px;*/
/*}*/
/*select:after {*/
    /*margin-left: -10px;*/
    /*content: "&#25BC"*/
/*}*/