@import "base-pallete-2.scss";

$bright: $color-primary-1;
$button: $color-secondary-1-1;
$button-alt: $color-complement-0;
$button-outline: $color-secondary-1-3;
$button-alt-outline: $color-secondary-2-3;
$easy: #abdead;
$easy-outline: #9bcf9e;


